*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
} 

/* media queries (pour téléphone a petit écrant) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sidebar{
    width: 160px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(196, 195, 195);
    overflow-x: hidden;
    padding-top: 16px;
    z-index: 1;
}
.sidebar ul{
    list-style: none;
}

.sidebar a:hover{
    background-color: mediumseagreen;
}
.sidebar a{
   
    text-decoration: none;
    display: block;
    color: black;
}
body{
    flex:1;
}

