html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: block;
    background-color: grey;
}


/* menu de navigation gauche */

#left {
    height: 100%;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: flex-end;
}

.newpost {
    margin-right: 2em;
    border-radius: 15px;
    width: 130px;
    height: 20px;
    color: white;
    border: none;
}


/* menu de droite */

#right {
    padding-left: 2em;
}

.menu_r {
    /* display: flex;
    placer les icons */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 4.5em;
    padding-left: 1em;
    z-index: 1; /* top calque*/
}

.sidebar {
    max-width: 275px;
    flex: 1;
    position: fixed;
    /* placer les icons */
}

#left li {
    list-style: none;
}


/* menu de droite */


.menu_r {
    /* display: flex;
    placer les icons */
    position: fixed;
    max-width: 350px;
}

.search {
    margin-bottom: 1em;
    margin-left: 2em;
    border-radius: 15px;
}


/* millieu de la page */

#center {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px black;
}

.grid {
    display: grid;
    grid-template-columns: minmax(68px, 1fr) minmax(0, 600px) minmax(290px, 1fr);
}

.trend {
    background-color: darkgrey;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.follow {
    background-color: darkgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.follow,
h3 {
    display: flex;
    justify-content: space-around;
}

.btn_follow {
    background-color: white;
    border-radius: 15px;
    width: 80px;
}

.logo {
    width: 50px;
    height: 50px;
}