html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: block;
}

.follows > a {
  text-decoration: none;
}

#center {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  border: solid 1px black;
}

.cadre_profil {
  height: 25%;
  display: block;
  position: relative;
}
.cadre_follow {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: block;

  /* max-height: 355px;  */
}

.bannière {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  bottom: 0px;
  z-index: 0;
}

.btn_edit {
  z-index: 6;
  border-radius: 15px;
}
.cadre_topic {
  flex: 1;
  /* min-height: 355px;  */
}

.pseudo-1 > h3 {
  margin: 0em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.pseudo-1 > p {
  margin: 0;
}
.pseudo-1 {
  display: block;
  padding-left: 1em;
  /* position: absolute; */
  max-width: 584px;
  width: 100%;
  border-bottom: solid 1px black;
}
.pseudo-1:hover {
  background-color: gray;
}

.fleche {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.conteneur_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.pseudo-2 {
  padding-top: 79px;
}

.pdp {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  border: solid 1px black;
  left: 1em;
  bottom: 0px;
  transform: translateY(50%);
}

.pseudo-2,
h3 {
  margin-bottom: 0;
}

.petit-pseudo {
  margin-bottom: 20px;
}

.gras {
  font-weight: bold;
}

.followers a:hover {
  text-decoration: underline;
}

.followers a {
  color: rgb(78, 78, 78);
}

.followers span {
  color: black;
}
