/*Wrapper gerant la partie en 1er plan (Menu, eader etc)*/

.front_wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 60%;
}


/*Css du header*/

.front_wrapper header {
    padding-left: 5px;
    padding-top: 5px;
    width: 60%;
    height: 5vh;
    background-color: grey;
}


/*Css du menu gauche*/

.menu_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 60vh;
    font-size: 20px;
    background-color: white;
}

.menu_left a {
    color: black;
    text-decoration: none
}

.menu_left_icon {
    position: relative;
    width: 20%;
}

.menu_left_icon img {
    width: 100%;
}

.menu_left_item {
    font-size: 25px;
}

.menu_left_tweets_btn {
    width: 80%;
    text-align: center;
    background-color: cornflowerblue;
}


/*Css du menu droit*/

.menu_right {
    width: 20%;
    border: solid 0.5px;
    font-size: 20px;
    background-color: white;
}